* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input[name="mem"] {
    display: none;
}
body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.container {
    margin: 0 auto;
    padding: 0 3vw;
    max-width: 70rem;
}
.slider__container {
    margin: 7vh auto 0;
    width: 70%;
    overflow: hidden;
}
.slides {
    display: flex;
    flex-wrap: wrap;
    width: 400%;
    height: 80%;
    margin-bottom: 2rem;
}
.slide {
    width: 25%;
    height: 100%;
    transition: all 1s ease;
}
.slide img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.image {
    height: 31.5rem;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}
.image--dark {
    background-color: black;
}
.dots-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10vh;
}
.texts__container {
    width: 80%;
    overflow: hidden;
}
.texts  {
    display: flex;
    flex-direction: row;
    width: 400%;
}
.text {
    width: 100%;
    transition: all 2s ease;
    font-size: 3.5vw;
    font-weight: 800;
    line-height: 2.7rem;
    opacity: 0;
    color: rgb(57, 49, 65);
    margin: auto;
}
.dots {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.dot {
    width: 3.5vw;
    height: 3.5vw;
    margin: 0.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot-mini {
    width: 3vw;
    height: 3vw;
    border-radius: 2rem;
    background-color: rgb(81, 64, 95);
    border: solid 0.1rem rgb(81, 64, 95);
    transition: all .2s ease;
}
.dot:hover .dot-mini{
    background-color: rgb(231, 222, 238);
    border: solid 0.1rem rgb(231, 222, 238);
    transform: scale(1.3);
}
.dot:active .dot-mini{
    background-color: rgb(133, 133, 133);
    border: solid 0.1rem rgb(133, 133, 133);
}
#mem1:checked ~ .dots-text > .dots > .dot > .dot1 {
    background-color: transparent;
    border: solid 0.2rem rgb(231, 222, 238);
    transform: scale(1.3);
}
#mem2:checked ~ .dots-text > .dots > .dot > .dot2 {
    background-color: transparent;
    border: solid 0.2rem rgb(231, 222, 238);
    transform: scale(1.3);
}
#mem3:checked ~ .dots-text > .dots > .dot > .dot3 {
    background-color: transparent;
    border: solid 0.2rem rgb(231, 222, 238);
    transform: scale(1.3);
}
#mem4:checked ~ .dots-text > .dots > .dot > .dot4 {
    background-color: transparent;
    border: solid 0.2rem rgb(231, 222, 238);
    transform: scale(1.3);
}

#mem1:checked ~ .slides > .first {
    margin-left: 0;
}
#mem2:checked ~ .slides > .first {
    margin-left: -25%;
}
#mem3:checked ~ .slides > .first {
    margin-left: -50%;
}
#mem4:checked ~ .slides > .first {
    margin-left: -75%;
}

#mem1:checked ~ .dots-text > .texts__container > .texts  {
    margin-left: 0;
    opacity: 1;
}
#mem2:checked ~ .dots-text > .texts__container > .texts  {
    margin-left: -100%;
    opacity: 1;
}
#mem3:checked ~ .dots-text > .texts__container > .texts  {
    margin-left: -200%;
    opacity: 1;
}
#mem4:checked ~ .dots-text > .texts__container > .texts  {
    margin-left: -300%;
    opacity: 1;
}

#mem1:checked ~ .dots-text > .texts__container > .texts  > .text1 {
    opacity: 1;
}
#mem2:checked ~ .dots-text > .texts__container > .texts  > .text2 {
    opacity: 1;
}
#mem3:checked ~ .dots-text > .texts__container > .texts  > .text3 {
    opacity: 1;
}
#mem4:checked ~ .dots-text > .texts__container > .texts  > .text4 {
    opacity: 1;
}

@media (min-width: 71rem) {
    .text {
        font-size: 2.2rem;
    }
    .dot {
        width: 2.5rem;
        height: 2.5rem;
    }
    .dot-mini {
        width: 2rem;
        height: 2rem;
    }
}

@media (max-width: 768px) {
    .slider__container {
        width: 90%;
    }
    .image {
        height: 25rem;
    }
    .dots-text {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 2rem;
    }
    .text {
        font-size: 5vw;
    }
    p {
        text-align: center;
    }
    .dot {
        width: 6vw;
        height: 6vw;
    }
    .dot-mini {
        width: 5vw;
        height: 5vw;
    }
}
@media (max-width: 390px) {
    .image {
        height: 19rem;
    }
}